<h1>Forum #{{ forumId }}</h1>

<div class="actions">
  <a routerLink="/forums">Back to forums</a>
  <a *ngIf="canCreatePost()" [routerLink]="['/create-post', forumId]">Create post</a>
</div>

<p class="error" *ngIf="errorMessage">{{ errorMessage }}</p>

<p *ngIf="posts.length === 0 && !errorMessage">No posts yet.</p>

<ul class="posts-list">
  <li *ngFor="let post of posts; trackBy: trackByPostId">
    <a [routerLink]="['/post', post.postId]">{{ post.title }}</a>
    <div class="meta">By {{ post.userName }} | {{ post.commentsCount }} comments</div>
    <div>{{ post.contentPreview }}</div>
  </li>
</ul>
