p-table {
  --p-datatable-header-padding: 0.75rem 0;
}

table {
  th {
    p-sorticon {
      line-height: 1;
      vertical-align: middle;
    }
  }
  tr {
    td:last-child, th:last-child { // Make the last table cell width fit its content
      width: 1%;
      white-space: nowrap;
    }
  }
}
