//////////////////////////////////////////
// Global variebles
//////////////////////////////////////////
$header-height-desktop: 70px;
$header-height-mobile: 50px;

//////////////////////////////////////////
// Typography
//////////////////////////////////////////
$font-size-base: 1rem;
$line-height-base: 1.2;
$font-family-base: 'Open Sans', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;

//////////////////////////////////////////
// Colors
//////////////////////////////////////////
$body-bg: #f3f3f3;
$body-color: #040522;
$white: #ffffff;
$theme-colors: (
  "light":      #dbe5ec,
  "dark":       #040522,
  "primary":    #3dd232,
  "secondary":  #085e49,
  "info":       #0279c4,
  "success":    #12b401,
  "warning":    #fdc601,
  "danger":     #f9004e,
);

$custom-colors: (
  "light-blue": #6ECFF6,
  "dark-blue": #111A45,
);