//////////////////////////////////////////
// Components
//////////////////////////////////////////
@import "components/header";
@import "components/sidebar";
@import "components/animations";
@import "components/custom-scroll-bars";
@import "components/buttons";
@import "components/list";
@import "components/forms";
@import "components/tables";
@import "components/upload-files";
@import "dark-mode";
//////////////////////////////////////////
// Modals
//////////////////////////////////////////
//@import "modals/generic-modal";

//////////////////////////////////////////
// Pages
//////////////////////////////////////////
@import "pages/login";
@import "pages/home";
//////////////////////////////////////////
// Layout
//////////////////////////////////////////
html {
  height: 100%;
  height: -webkit-fill-available;
  font-size: 14px;
}


body {
  display: flex;
  flex-direction: column;
  padding: env(safe-area-inset-top) env(safe-area-inset-right) env(safe-area-inset-bottom) env(safe-area-inset-left);
  height: 100%;
  overflow: hidden;

  app-root {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    overflow: hidden;

    // Auth layout
    app-auth-layout {
      .auth-layout {
        display: flex;
        flex-direction: column;
        min-height: 100vh;
      }
      
      .auth-content {
        flex: 1;
      }
      
      .auth-footer {
        padding: 1rem 0;
        background-color: rgba(0, 0, 0, 0.02);
        color: #6c757d;
        font-size: 0.875rem;
      } 
    }

    // App layout
    app-app-layout {
      position: relative;
      z-index: 1;
      display: flex;
      flex-direction: column;
      flex-grow: 1;
      width: 100%;
      overflow: hidden;

      main {
        display: flex;
        flex-grow: 1;
        overflow: hidden;
        padding: 0.25rem;

        aside.sidebar {
          display: flex;
          flex-direction: column;
          flex-grow: 1;
          flex: 0 0 200px;
        }
        & > *:not(router-outlet) {
          display: flex;
          flex-direction: column;
          flex-grow: 1;
          width: 100%;
          overflow: auto;
        }
      }
    }
  }
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 300,
  'GRAD' 0,
  'opsz' 20
}


